@charset "UTF-8";

.admin_member_div {
	height: 500px !important;
}

.admin_member_div label {
    font-size: 18px;
}

.admin_member_div .label {
	width: 120px;
	display: inline-block;
}

.admin_member_div .vo_content {
	width: 694px;
	height: 18px;
    padding: 15px;
    margin: 5px 0 5px 10px;
    display: inline-block;
    border: none;
}

.admin_member_div input[type=text], .admin_member_div input[type=password], .admin_member_div input[type=email] {
	width: 694px;
	height: 18px;
    padding: 15px;
    margin: 5px 0 5px 10px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    font-size: 14px;
}
	
.admin_member_div input[type=text]:focus, .admin_member_div input[type=password]:focus, .admin_member_div input[type=email]:focus {
	background-color: #ddd;
	outline: none;
}

.admin_member_div .readonly {
	background: #f9f9f9 !important;
}

.admin_member_div .readonly:focus {
	background: #f3f3f3 !important;
}

.button_set {
	position: relative;
	left: 170px;
}

.admin_member_btn {
	border-radius: 5px;
	margin: 10px;
	padding: 8px;
	color: #fff;
	background: #367fa9;
	cursor: pointer;
	border: none;
	width: 100px;
	height: 42px;
	font-size: 18px;
	position: relative;
	left: 170px;
}

.admin_member_btn:hover {
	opacity: .8;
}