.column1 {
	width: 10%;
}

.column2 {
	width: 15%;
}

.column3 {
	width: 43%;
}

thead .column3 {
	text-align: center;
}

tbody .column3 {
	text-align: left;
}

.column4 {
	width: 12%;
}

.column5 {
	width: 20%;
}

table td:nth-child(3) {
	text-align: left;
	padding-left: 50px;
}