h2 {
	font-size: 30px;
	font-weight: 600;
}

h3 {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 20px;
	color: #333;
}

.order_wrap li {
	list-style-type: none;
	line-height: 36px;
}

.order_wrap {
	padding: 30px;
}

.order_wrap hr {
	margin: 20px 0;
}

.signup_wrap {
	min-height: 420px;
	overflow: auto;
	overflow-x: hidden;
	padding-top: 40px;
}

.order_div {
	width: 412px;
	float: left;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	border: 5px solid #fff;
	vertical-align: middle;
	padding: 10px;
}

th {
	font-weight: 600;
	background: #f7f7f7;
	width: 15%;
}

th img {
	border-radius: 10px;
}

td {
	padding-left: 30px;
}

label {
	width: 150px;
	font-size: 18px;
}

.label {
	width: 110px;
	display: inline-block;
}

.order_ul {
	margin-top: 30px;
}

.order_ul>li {
	width: 425.7px;
	display: inline-block;
	padding: 20px;
	background: #fafafa;
	border: 1px solid #ccc;
	border-radius: 10px;
	height: 130px;
}


input[type=date] {
    appearance: none;
    -webkit-appearance: none;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:#efefef;
    padding:10px;
    margin-top: 20px;
    text-align: center;
    width: 402px;
}

input[type=date], focus {
    color: #333;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
}

.button input {
	color: white;
	padding: 14px 20px;
	margin: 8px 0 50px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

.button input:hover {
	opacity: 1;
	transition: 0.1s;
}

.orderbtn {
	background-color: #367fa9;
	border-radius: 10px;
}

.orderbtn {
	width: 100%;
}